---

- include: install_basepkgs.yml
- include: config_user_perm.yml
- include: create_drush_config.yml
- include: create_httpd_dirs.yml
- include: config_syslog-ng_watchdog.yml
- include: deploy_www-80.yml
- include: deploy_www-shib.yml
- include: deploy_drupal_code.yml