<?php

// WARNING: Local file generated and managed by ansible.
// Any changes edited in here will be lost in a code deploy triggered by ansible!
// Database info is excluded from repo.
$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '{{ drupal_db }}',
      'username' => '{{ drupal_db_user }}',
      'password' => '{{ drupal_db_pw }}',
      'host' => '{{ drupal_db_host }}',
      'port' => '{{ drupal_db_host_port }}',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);